@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar: var(--sidebar);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent: var(--accent);
    --color-muted: var(--muted);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-primary-text: var(--primary-text);
    --color-secondary-text: var(--secondary-text);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.625rem;
    --primary-text: oklch(0 0 0);
    --secondary-text: oklch(1 0 0);
    --background: oklch(0.9674 0.0029 84.56);
    --foreground: oklch(0.9196 0.0046 78.3);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.13 0.028 261.692);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.13 0.028 261.692);
    --muted: oklch(0.967 0.003 264.542);
    --accent: oklch(0.6565 0.1862 39.43);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.928 0.006 264.531);
    --input: oklch(0.928 0.006 264.531);
    --ring: oklch(0.707 0.022 261.325);
    --sidebar: oklch(0.985 0.002 247.839);
}

.dark {
    --radius: 0.625rem;
    --primary-text: oklch(1 0 0);
    --secondary-text: oklch(0 0 0);
    --background: oklch(0.2816 0.0023 67.73);
    --foreground: oklch(0.3565 0.0037 84.58);
    --card: oklch(0.3565 0.0037 84.58);
    --card-foreground: oklch(0.985 0.002 247.839);
    --popover: oklch(0.21 0.034 264.665);
    --popover-foreground: oklch(0.985 0.002 247.839);
    --muted: oklch(0.278 0.033 256.848);
    --accent: oklch(0.6565 0.1862 39.43);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.551 0.027 264.364);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground transition-colors;
    }
}
